Django==3.1.2
django-cors-middleware==1.5.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
PyJWT==1.7.1
pytz==2020.1
sqlparse==0.4.1
coreapi==2.3.3
coreschema==0.0.4
django-bootstrap4===2.3.0
django-filter==2.4.0
django-heroku==0.3.1
django-markdownify==0.8.1
django-markup==1.5
drf-yasg==1.17.1
gunicorn==20.0.4
pytest-django==3.10.0
whitenoise==5.2.0
